UKG_AUTH_URL=https://welcome-us.ukg.net/oauth/token
UKG_BASE_URL=https://wfm.ukg.net/api
UKG_CLIENT_ID=
UKG_CLIENT_SECRET=
UKG_AUDIENCE=https://wfm.ukg.net/api
UKG_GRANT_TYPE=client_credentials
UKG_ORGANIZATION=
